@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 36, 36, 36;
    --background-end-rgb: 36, 36, 36;
  }
}

button,
input {
  letter-spacing: 0.25rem;
}

body {
  letter-spacing: 0.25rem;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    180deg,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
